* {
  padding: 0;
  margin: 0;
}

div.form{
  color:rgb(254, 254, 255);
  text-align: center;
  font-size: 30;
  font-family: 'Cairo', sans-serif;
}

div.formy{
  color:rgb(254, 254, 255);
  font-size: 30;
  font-family: 'Cairo', sans-serif;
}

.font{
  font-size: 40;
  font-family: 'Cairo', sans-serif;
  /*margin-left: 200%;*/
}

.fonty{
  font-size: 40;
  font-family: 'Cairo', sans-serif;
  margin-bottom: 25%;
}


.field{
  font-size: 30;
  font-family: 'Cairo', sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 /* margin-top: 40;*/
  font-family: 'Cairo', sans-serif;
}


button {
  margin-top: 20%;
  align-items: center;
  margin: auto;
  cursor: pointer;
  display: row;
  padding: 0;
  vertical-align: middle;
  font-size: 30;
  font-family: 'Cairo', sans-serif;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

input[type=text]:focus{
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

.dropdown-content li span {
color: #000;
}
.wrapper {
  height: 100%;
  width: 100%;
  background-size: stretch;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
}

.inner { 
    max-width: 500px;
    min-width: 400px;
    justify-items: center;
    align-self: center;
    display: flex;
    background-color: white;
    font-family: 'Cairo', sans-serif;
}

button.fp {
  color: rgb(87, 77, 228);
  flex: 1;
  margin-left: 25px;
  background-color: rgb(250, 250, 250);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

button.fv {
  color: rgb(250, 250, 250);
  width: 250;
  height: 50;
  background-color: rgb(87, 77, 228);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

.line{
  border-bottom-style: inset;
  font-family: 'Cairo', sans-serif;
  font-size: 35;
}

.thicker {
  color: rgb(128, 126, 131);
}